<div class="burger-overlay" id="burger-overlay"></div>
<aside class="burger" id="burger">
  <ul class="list burger__list">
    <li><a href="/#s-format?tab=format-tab-1">Общественная баня</a></li>
    <li><a href="/#s-format?tab=format-tab-2">Отдых с компанией (столы)</a></li>
    <li><a href="/#s-format?tab=format-tab-3">VIP-номера</a></li>
    <li><a href="/#s-price">Прайс-лист</a></li>
    <li><a href="/#s-menu">Меню</a></li>
    <li><a href="/#s-promo">Акции</a></li>
    <li><a href="/#s-format?tab=format-tab-3">VIP-номера</a></li>
    <li><a href="/#s-complex">SPA</a></li>
  </ul>
  <div class="burger__contacts">
    <div class="burger__line"><div></div></div>
    <a href="tel:+78432545801" class="burger__tel">+7 (843) 254-58-01</a>
    <div class="burger__address">г. Казань, ул. Юлиуса Фучика, 64Е</div>
    <div class="social">
      <a href="#" target="_blank" rel="nofollow" class="social-item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-tg"></use>
        </svg>
      </a>
      <a href="#" target="_blank" rel="nofollow" class="social-item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-vk"></use>
        </svg>
      </a>
      <a href="#" target="_blank" rel="nofollow" class="social-item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-max"></use>
        </svg>
      </a>
      <a href="#" target="_blank" rel="nofollow" class="social-item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-wh"></use>
        </svg>
      </a>
    </div>
  </div>
  <a href="#modal-callback" data-fancybox class="btn-s burger__btn">
    ЗАБРОНИРОВАТЬ
  </a>
</aside>
