<section class="s-complex decor-wave-b">
  <div class="sect-p s-complex__inside">
    <div class="container">
      <div class="sect-head s-complex__sect-head">
        <h2 class="s-title">Оцените по достоинству наши комплексы SPA</h2>
        <div class="note">
          При бронировании СПА-программы необходимо выбрать подходящий тариф
          банного времени
        </div>
      </div>
      <div class="slider-wrapper">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
  
        <div class="swiper s-complex__slider">
          <div class="swiper-wrapper">
            <article class="swiper-slide s-complex__slide">
              <div class="swiper s-complex__slide-gallery">
                <div class="swiper-wrapper">
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-1"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-1"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-1"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-1"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-blur"></div>
              </div>
              <div class="s-complex__slide-info">
                <h3 class="l-title s-complex__slide-title">Наслаждение</h3>
                <ul class="list point-list s-complex__slide-list">
                  <li>Прогрев тела</li>
                  <li>Скрабирование тела</li>
                  <li>Душ впечатления</li>
                  <li>Обертывание тела (натуральное, косметическое)</li>
                  <li>Массаж головы во время обертывания</li>
                </ul>
                <div class="s-complex__slide-price">
                  <div class="price">5 700 ₽</div>
                  <div class="price-note">/ 1.5 часа</div>
                </div>
                <a
                  href="#modal-callback"
                  data-fancybox
                  class="btn-s s-complex__slide-btn"
                >
                  Оставить заявку
                </a>
                <p class="s-complex__slide-content">
                  При покупке спа программы вы получаете арома свечу в подарок
                  (срок действия акции с 06.04.2026  до 15.05.2026)
                </p>
              </div>
            </article>
            <article class="swiper-slide s-complex__slide">
              <div class="swiper s-complex__slide-gallery">
                <div class="swiper-wrapper">
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-2"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-2"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-2"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-2"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-blur"></div>
              </div>
              <div class="s-complex__slide-info">
                <h3 class="l-title s-complex__slide-title">Наслаждение</h3>
                <ul class="list point-list s-complex__slide-list">
                  <li>Прогрев тела</li>
                  <li>Скрабирование тела</li>
                  <li>Душ впечатления</li>
                  <li>Обертывание тела (натуральное, косметическое)</li>
                  <li>Массаж головы во время обертывания</li>
                </ul>
                <div class="s-complex__slide-price">
                  <div class="price">5 700 ₽</div>
                  <div class="price-note">/ 1.5 часа</div>
                </div>
                <a
                  href="#modal-callback"
                  data-fancybox
                  class="btn-s s-complex__slide-btn"
                >
                  Оставить заявку
                </a>
                <p class="s-complex__slide-content">
                  При покупке спа программы вы получаете арома свечу в подарок
                  (срок действия акции с 06.04.2026  до 15.05.2026)
                </p>
              </div>
            </article>
            <article class="swiper-slide s-complex__slide">
              <div class="swiper s-complex__slide-gallery">
                <div class="swiper-wrapper">
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-3"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-3"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-3"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/complex.jpg"
                    data-fancybox="gallery-complex-3"
                    class="swiper-slide"
                  >
                    <img src="@img/complex.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-blur"></div>
              </div>
              <div class="s-complex__slide-info">
                <h3 class="l-title s-complex__slide-title">Наслаждение</h3>
                <ul class="list point-list s-complex__slide-list">
                  <li>Прогрев тела</li>
                  <li>Скрабирование тела</li>
                  <li>Душ впечатления</li>
                  <li>Обертывание тела (натуральное, косметическое)</li>
                  <li>Массаж головы во время обертывания</li>
                </ul>
                <div class="s-complex__slide-price">
                  <div class="price">5 700 ₽</div>
                  <div class="price-note">/ 1.5 часа</div>
                </div>
                <a
                  href="#modal-callback"
                  data-fancybox
                  class="btn-s s-complex__slide-btn"
                >
                  Оставить заявку
                </a>
                <p class="s-complex__slide-content">
                  При покупке спа программы вы получаете арома свечу в подарок
                  (срок действия акции с 06.04.2026  до 15.05.2026)
                </p>
              </div>
            </article>
          </div>
        </div>
  
        <div class="slider-scrollbar _m-medium"></div>
        <div class="slider-pagination _medium"></div>
      </div>
    </div>
  </div>
</section>
