<section class="s-connect sect-m" id="s-format">
  <div class="container">
    <div class="s-connect__body">
      <div class="corner _tl"></div>
      <div class="corner _bl"></div>
      <div class="corner _tr"></div>
      <div class="corner _br"></div>
      <div class="s-connect__body-inside">
        <div class="sect-head">
          <h2 class="f-title">ПРИЙТИ СЕГОДНЯ</h2>
        </div>
        <form action="#" class="s-connect__form">
          <div class="input-control">
            <input type="text" placeholder="Ваше имя" class="input _secondary-opacity" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Ваш номер телефона" class="input _secondary-opacity" />
          </div>
          <div class="check-wrapper _secondary-opacity">
            <span class="wpcf7-form-control-wrap">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="acceptance-469" />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь с&nbsp;
                        <a href="/personal-data" target="_blank">
                          Правилами обработки персональных данных
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-s">ЗАБРОНИРОВАТЬ</button>
        </form>
      </div>
    </div>
  </div>
</section>
