<section class="s-format sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">ВЫБЕРИТЕ ФОРМАТ ОТДЫХА</h2>
    </div>
  </div>
  <div class="tabs">
    <div class="tabs-nav s-format__nav">
      <div class="s-format__nav-btn _active" data-tab-btn="format-tab-1">
        <span>Общественная баня</span>
      </div>
      <div class="s-format__nav-btn" data-tab-btn="format-tab-2">
        <span>Отдых с компанией (столы)</span>
      </div>
      <div class="s-format__nav-btn" data-tab-btn="format-tab-3">
        <span>VIP-номера</span>
      </div>
    </div>
    <div class="container">
      <div class="tabs-content s-format__tabs">
        <div data-tab="format-tab-1" class="_active _show">
          <div class="tabs">
            <h3 class="f-title s-format__tab-title line-title">
              Общественная баня
            </h3>
            <div class="s-format__tab-block">
              <div class="s-format__table-head">
                <div class="f-title">Цены</div>
                <div class="s-format__table-buttons tabs-nav">
                  <div data-tab-btn="tab-price-man" class="simple-btn _active">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-simple-decor-left"
                      ></use>
                    </svg>
                    <span>МУЖСКОЙ РАЗРЯД</span>
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-simple-decor-right"
                      ></use>
                    </svg>
                  </div>
                  <div data-tab-btn="tab-price-woman" class="simple-btn">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-simple-decor-left"
                      ></use>
                    </svg>
                    <span>ЖЕНСКИЙ РАЗРЯД</span>
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-simple-decor-right"
                      ></use>
                    </svg>
                  </div>
                </div>
                <a
                  href="#modal-brone"
                  data-fancybox
                  class="btn-s s-format__table-head-btn"
                >
                  ЗАБРОНИРОВАТЬ
                </a>
              </div>
              <div class="tabs-content">
                <div data-tab="tab-price-man" class="_active _show">
                  <div class="swiper s-format__table">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">ПН – ВТ</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">ср – чт</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">пт</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">сб – Вс</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slider-pagination"></div>
                  <a
                    href="#modal-brone"
                    data-btn-note="Забронировать МУЖСКОЙ РАЗРЯД"
                    data-target-note="#modal-brone .input-note"
                    data-fancybox
                    class="btn-s s-format__table-btn"
                  >
                    ЗАБРОНИРОВАТЬ
                  </a>
                </div>
                <div data-tab="tab-price-woman">
                  <div class="swiper s-format__table">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">ПН – ВТ</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">ср – чт</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">пт</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                        <div class="block">
                          <div class="block-tag">с 16:00 до 23:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                      <div class="swiper-slide s-format__table-item">
                        <div class="title">сб – Вс</div>
                        <div class="block">
                          <div class="block-tag">с 11:00 до 16:00</div>
                          <ul class="list">
                            <li>
                              <span>1 час</span>
                              <span>680* ₽</span>
                            </li>
                            <li>
                              <span>Безлимит</span>
                              <span>2 900 ₽</span>
                            </li>
                            <li>
                              <span>3 часа</span>
                              <span>850* ₽</span>
                            </li>
                          </ul>
                          <div class="block-note">* С учетом скидки!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slider-pagination"></div>
                  <a
                    href="#modal-brone"
                    data-btn-note="Забронировать ЖЕНСКИЙ РАЗРЯД"
                    data-target-note="#modal-brone .input-note"
                    data-fancybox
                    class="btn-s s-format__table-btn"
                  >
                    ЗАБРОНИРОВАТЬ
                  </a>
                </div>
              </div>
            </div>
            <div class="s-format__tab-block">
              <h3 class="f-title s-format__tab-title">РАСПИСАНИЕ ПАРА</h3>
              <div class="s-format__schedule">
                <div class="s-format__schedule-item">
                  <div class="num">12:00</div>
                  <div class="name">«Таежный»</div>
                  <div class="text">можжевельник, багульник</div>
                </div>
                <div class="s-format__schedule-item">
                  <div class="num">16:00</div>
                  <div class="name">«Южный»</div>
                  <div class="text">донник, полынь</div>
                </div>
                <div class="s-format__schedule-item">
                  <div class="num">18:00</div>
                  <div class="name">«Чесночный»</div>
                  <div class="text">чеснок</div>
                </div>
                <div class="s-format__schedule-item">
                  <div class="num">20:00</div>
                  <div class="name">«Авторский»</div>
                  <div class="text">разнотравье</div>
                </div>
                <div class="s-format__schedule-item">
                  <div class="num">22:00</div>
                  <div class="name">«Восточный»</div>
                  <div class="text">лаванда, эвкалипт</div>
                </div>
              </div>
            </div>
            <div class="s-format__tab-block">
              <div class="slider-wrapper">
                <div class="slider-arrow _prev">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                  </svg>
                </div>
                <div class="swiper gallery-slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/gallery.jpg"
                      data-fancybox="gallery"
                      class="swiper-slide gallery-slide"
                    >
                      <img src="@img/gallery.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="slider-arrow _next">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-next"></use>
                  </svg>
                </div>
                <div class="slider-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <div data-tab="format-tab-2">
          <h3 class="f-title s-format__tab-title line-title">
            Индивидуальное бронирование
          </h3>
          <div class="s-format__tab-block">
            <div class="note s-format__block-note _ecru">
              Бонус при бронировании столика или кабинета: посещение парной 1 и
              2 этажа, хамам, летняя терраса и свежий пар каждый час, начиная с
              18:00
            </div>

            <div class="slider-wrapper s-format__slider-wrapper">
              <div class="slider-arrow _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                </svg>
              </div>
              <div class="slider-arrow _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
              <div class="swiper s-format__slider">
                <div class="swiper-wrapper">
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального кабинета до 7 гостей
                    </h3>
                    <p class="s-format__slide-content">
                      Отдельный кабинет для небольшой компании до 7-и гостей
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального кабинета до 7 гостей"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального кабинета до 7 гостей
                    </h3>
                    <p class="s-format__slide-content">
                      Отдельный кабинет для небольшой компании до 7-и гостей
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального кабинета до 7 гостей"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-2"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-2jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального кабинета до 7 гостей
                    </h3>
                    <p class="s-format__slide-content">
                      Отдельный кабинет для небольшой компании до 7-и гостей
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>1 час</span>
                        <span>1 000 ₽</span>
                      </li>
                    </ul>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального кабинета до 7 гостей"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="slider-pagination"></div>
          </div>
        </div>
        <div data-tab="format-tab-3">
          <h3 class="f-title s-format__tab-title line-title">
            Бронирование VIP номеров
          </h3>
          <div class="s-format__tab-block">
            <div class="note s-format__block-note _ecru">
              Мы берём заботу о вашем комфорте на себя. Поэтому здесь
              предусмотрены только напитки и продукты из нашего меню —
              для стабильного качества, безопасности и безупречного опыта
            </div>

            <div class="slider-wrapper s-format__slider-wrapper">
              <div class="slider-arrow _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                </svg>
              </div>
              <div class="slider-arrow _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
              <div class="swiper s-format__slider">
                <div class="swiper-wrapper">
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>В выходные и праздничные дни</span>
                        <span>35 000 ₽</span>
                      </li>
                    </ul>
                    <div class="s-format__slide-note">
                      В выходные и праздники акции не действуют
                    </div>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                    <p class="s-format__slide-bottom">
                      Номер вмещает до 12 гостей, каждый последующий после 8
                      чел. - +1 500₽
                    </p>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>В выходные и праздничные дни</span>
                        <span>35 000 ₽</span>
                      </li>
                    </ul>
                    <div class="s-format__slide-note">
                      В выходные и праздники акции не действуют
                    </div>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                    <p class="s-format__slide-bottom">
                      Номер вмещает до 12 гостей, каждый последующий после 8
                      чел. - +1 500₽
                    </p>
                  </article>
                  <article class="swiper-slide s-format__slide">
                    <div class="swiper s-format__slide-gallery">
                      <div class="slider-arrow _prev">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-prev-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next">
                        <svg>
                          <use
                            xlink:href="img/icons/icons.svg#icon-next-thin"
                          ></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/gallery.jpg"
                          data-fancybox="format-slide-1"
                          class="swiper-slide"
                        >
                          <img src="@img/format-img-1.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination-blur"></div>
                    </div>
                    <h3 class="s-format__slide-title">
                      Бронь индивидуального стола
                    </h3>
                    <p class="s-format__slide-content">
                      Отдых небольшой компанией до 4-х гостей за отдельным
                      столом второго этажа
                    </p>
                    <div class="s-format__slide-line"><div></div></div>
                    <ul class="list s-format__slide-list">
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>10:00 - 13:00</span>
                        <span>15 000 ₽</span>
                      </li>
                      <li>
                        <span>В выходные и праздничные дни</span>
                        <span>35 000 ₽</span>
                      </li>
                    </ul>
                    <div class="s-format__slide-note">
                      В выходные и праздники акции не действуют
                    </div>
                    <a
                      href="#modal-brone"
                      data-fancybox
                      data-btn-note="Бронь индивидуального стола"
                      data-target-note="#modal-brone .input-note"
                      class="btn-s s-format__slide-btn"
                    >
                      ЗАБРОНИРОВАТЬ
                    </a>
                    <p class="s-format__slide-bottom">
                      Номер вмещает до 12 гостей, каждый последующий после 8
                      чел. - +1 500₽
                    </p>
                  </article>
                </div>
              </div>
            </div>
            <div class="slider-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
