<section class="s-menu sect-p">
  <div class="corner _tl"></div>
  <div class="corner _tr"></div>
  <div class="corner _bl _ecru"></div>
  <div class="corner _br _ecru"></div>
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Меню банного комплекса</h2>
    </div>
    <div class="swiper tabs-nav s-menu__nav">
      <div class="swiper-wrapper">
        <div
          data-tab-btn="tab-menu-1"
          class="swiper-slide simple-btn _ap _active"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Популярные блюда</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-2" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Салаты</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-3" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Холодные Закуски</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-4" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Горячие Закуски</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-5" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Супы</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-6" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Горячие блюда</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-7" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Гарниры</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-8" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Десерты</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
        <div data-tab-btn="tab-menu-9" class="swiper-slide simple-btn _ap">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
          </svg>
          <span>Детское меню</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-menu-1" class="_active _show">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-11"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-12"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-13"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-14"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-2">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-21"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-22"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-23"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-24"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-3">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-31"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-32"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-33"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-34"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-4">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-41"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-42"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-43"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-44"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-5">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-51"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-52"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-53"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-54"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-6">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-61"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-62"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-63"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-64"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-7">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-71"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-72"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-73"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-74"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-8">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-81"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-82"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-83"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-84"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
      <div data-tab="tab-menu-9">
        <div class="slider-wrapper">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>

          <div class="swiper s-menu__slider">
            <div class="swiper-wrapper">
              <div
                data-click-target=".gallery-menu-slider-91"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-92"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-93"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
              <div
                data-click-target=".gallery-menu-slider-94"
                class="swiper-slide"
              >
                <img src="@img/menu.jpg" alt="image" />
              </div>
            </div>
          </div>

          <div class="slider-pagination"></div>
        </div>
      </div>
    </div>
    <div style="display: none">
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-1"
        class="gallery-menu-slider-11"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-1"
        class="gallery-menu-slider-12"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-1"
        class="gallery-menu-slider-13"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-1"
        class="gallery-menu-slider-14"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-2"
        class="gallery-menu-slider-21"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-2"
        class="gallery-menu-slider-22"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-2"
        class="gallery-menu-slider-23"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-2"
        class="gallery-menu-slider-24"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-3"
        class="gallery-menu-slider-31"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-3"
        class="gallery-menu-slider-32"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-3"
        class="gallery-menu-slider-33"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-3"
        class="gallery-menu-slider-34"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-4"
        class="gallery-menu-slider-41"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-4"
        class="gallery-menu-slider-42"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-4"
        class="gallery-menu-slider-43"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-4"
        class="gallery-menu-slider-44"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-5"
        class="gallery-menu-slider-51"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-5"
        class="gallery-menu-slider-52"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-5"
        class="gallery-menu-slider-53"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-5"
        class="gallery-menu-slider-54"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-6"
        class="gallery-menu-slider-61"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-6"
        class="gallery-menu-slider-62"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-6"
        class="gallery-menu-slider-63"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-6"
        class="gallery-menu-slider-64"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-7"
        class="gallery-menu-slider-71"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-7"
        class="gallery-menu-slider-72"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-7"
        class="gallery-menu-slider-73"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-7"
        class="gallery-menu-slider-74"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-8"
        class="gallery-menu-slider-81"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-8"
        class="gallery-menu-slider-82"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-8"
        class="gallery-menu-slider-83"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-8"
        class="gallery-menu-slider-84"
      ></a>

      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-9"
        class="gallery-menu-slider-91"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-9"
        class="gallery-menu-slider-92"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-9"
        class="gallery-menu-slider-93"
      ></a>
      <a
        href="@img/menu.jpg"
        data-fancybox="gallery-menu-slider-9"
        class="gallery-menu-slider-94"
      ></a>
    </div>
    <div class="s-menu__buttons">
      <a href="@img/bg-pattern.png" download class="btn-m _stroke-primary">
        Скачать меню в PDF
      </a>
      <a href="@img/bg-pattern.png" download class="btn-m _stroke-primary">
        Скачать карту бара в PDF
      </a>
    </div>
  </div>
</section>
