<section class="sect-m s-promo" id="s-promo">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">АКЦИОННЫЕ ПРЕДЛОЖЕНИЯ</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-promo__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Пар по просьбам</h3>
              <p class="card-promo__content">
                В пятницу — два сеанса чесночного пара: в 18:00 и в 20:00, а
                расписание парения на втором этаже теперь такое же, как в
                женском разряде — удобно и привычно!
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Пар по просьбам"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Тёплый приём</h3>
              <p class="card-promo__content">
                Оставьте отзыв или отметку в соцсетях — и получите кружку
                ароматного чая в подарок.
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Тёплый приём"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Пар по просьбам</h3>
              <p class="card-promo__content">
                В пятницу — два сеанса чесночного пара: в 18:00 и в 20:00, а
                расписание парения на втором этаже теперь такое же, как в
                женском разряде — удобно и привычно!
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Пар по просьбам"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Тёплый приём</h3>
              <p class="card-promo__content">
                Оставьте отзыв или отметку в соцсетях — и получите кружку
                ароматного чая в подарок.
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Тёплый приём"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Пар по просьбам</h3>
              <p class="card-promo__content">
                В пятницу — два сеанса чесночного пара: в 18:00 и в 20:00, а
                расписание парения на втором этаже теперь такое же, как в
                женском разряде — удобно и привычно!
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Пар по просьбам"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-promo">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__date">с 01 по 03 мая 2026 г.</div>
              <h3 class="l-title card-promo__title">Тёплый приём</h3>
              <p class="card-promo__content">
                Оставьте отзыв или отметку в соцсетях — и получите кружку
                ароматного чая в подарок.
              </p>
              <a
                href="#modal-callback"
                data-fancybox
                data-btn-note="Тёплый приём"
                data-target-note="#modal-callback .input-note"
                class="btn-s card-promo__btn"
              >
                ВОСПОЛЬЗОВАТЬСЯ АКЦИЕЙ
              </a>
            </article>
          </div>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
