<section class="sect-m s-price" id="s-price">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Стоимость дополнительных услуг</h2>
    </div>
    <div class="tabs-nav s-price__nav">
      <div data-tab-btn="tab-price-1" class="simple-btn _active">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
        </svg>
        <span>Парение</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
        </svg>
      </div>
      <div data-tab-btn="tab-price-2" class="simple-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
        </svg>
        <span>МАССАЖ</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
        </svg>
      </div>
      <div data-tab-btn="tab-price-3" class="simple-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-left"></use>
        </svg>
        <span>ДОП. УСЛУГИ</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-simple-decor-right"></use>
        </svg>
      </div>
    </div>
    <div class="tabs-content">
      <div
        data-tab="tab-price-1"
        data-count-show="5"
        class="container-more _active _show"
      >
        <div class="s-price__table-wrap">
          <div class="s-price__table">
            <div class="s-price__table-row _head">
              <div class="s-price__table-item">
                <div class="name-head">Услуга</div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Длительность
                </div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Стоимость услуги
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и
                    заключительная пропарка спины, догрев. Пролив тела водой,
                    легкий массаж можжевельником. Прогревает тело и дарит
                    чувство расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и
                    заключительная пропарка спины, догрев. Пролив тела водой,
                    легкий массаж можжевельником. Прогревает тело и дарит
                    чувство расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и
                    заключительная пропарка спины, догрев. Пролив тела водой,
                    легкий массаж можжевельником. Прогревает тело и дарит
                    чувство расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и
                    заключительная пропарка спины, догрев. Пролив тела водой,
                    легкий массаж можжевельником. Прогревает тело и дарит
                    чувство расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и
                    заключительная пропарка спины, догрев. Пролив тела водой,
                    легкий массаж можжевельником. Прогревает тело и дарит
                    чувство расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-more-btn class="s-price__btn-more btn-s">Показать ещё</div>
      </div>
      <div data-tab="tab-price-2" data-count-show="5" class="container-more">
        <div class="s-price__table-wrap">
          <div class="s-price__table">
            <div class="s-price__table-row _head">
              <div class="s-price__table-item">
                <div class="name-head">Услуга</div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Длительность
                </div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Стоимость услуги
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-more-btn class="s-price__btn-more btn-s">Показать ещё</div>
      </div>
      <div data-tab="tab-price-3" data-count-show="5" class="container-more">
        <div class="s-price__table-wrap">
          <div class="s-price__table">
            <div class="s-price__table-row _head">
              <div class="s-price__table-item">
                <div class="name-head">Услуга</div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Длительность
                </div>
              </div>
              <div class="s-price__table-item">
                <div class="name-head" style="text-align: center">
                  Стоимость услуги
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Легкое парение</div>
                  <p class="item-content">
                    В чем польза парения? Снимает напряжение и расслабляет;
                    стимулирует обмен веществ, выводит из организма накопившиеся
                    шлаки; благотворно влияет на органы дыхания за счет
                    фитонцидов, которые выделяются при запаривании веников.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">15 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">3 900 ₽</div>
                </div>
              </div>
            </div>
            <div data-more-item>
              <div class="s-price__table-row">
                <div class="s-price__table-item">
                  <div class="item-name">Классическое парение</div>
                  <p class="item-content">
                    Парение ног, спины, живота, выход в контраст и заключительная
                    пропарка спины, догрев. Пролив тела водой, легкий массаж
                    можжевельником. Прогревает тело и дарит чувство
                    расслабленности. 2 захода.
                  </p>
                </div>
                <div class="s-price__table-item">
                  <div class="value">25 минут</div>
                </div>
                <div class="s-price__table-item">
                  <div class="value">5 200 ₽</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-more-btn class="s-price__btn-more btn-s">Показать ещё</div>
      </div>
    </div>
  </div>
</section>
