<section class="s-preview decor-wave">
  <div class="s-preview__body">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">ТУРГАЕВСКАЯ БАНЯ — это</h2>
      </div>
      <div class="swiper s-preview__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="video-bg _np"
              style="
                background: url(&quot;@img/preview-slide.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <video
                data-src="./files/video.mp4"
                muted
                playsinline
                autoplay
                loop
                class="video"
              ></video>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div
              class="video-bg _np"
              style="
                background: url(&quot;@img/preview-slide.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <video
                data-src="./files/video.mp4"
                muted
                playsinline
                autoplay
                loop
                class="video"
              ></video>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="video-bg _np"
              style="
                background: url(&quot;@img/preview-slide.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <video
                data-src="./files/video.mp4"
                muted
                playsinline
                autoplay
                loop
                class="video"
              ></video>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="video-bg _np"
              style="
                background: url(&quot;@img/preview-slide.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <video
                data-src="./files/video.mp4"
                muted
                playsinline
                autoplay
                loop
                class="video"
              ></video>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="video-bg _np"
              style="
                background: url(&quot;@img/preview-slide.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <video
                data-src="./files/video.mp4"
                muted
                playsinline
                autoplay
                loop
                class="video"
              ></video>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-scrollbar"></div>
      <div class="s-preview__adv">
        <div class="s-preview__adv-item">
          <img src="@img/preview-adv.svg" alt="icon" class="icon">
          <span>Cильные пар-мастера</span>
        </div>
        <div class="s-preview__adv-item">
          <img src="@img/preview-adv.svg" alt="icon" class="icon">
          <span>Настоящая баня</span>
        </div>
        <div class="s-preview__adv-item">
          <img src="@img/preview-adv.svg" alt="icon" class="icon">
          <span>Приватные форматы</span>
        </div>
        <div class="s-preview__adv-item">
          <img src="@img/preview-adv.svg" alt="icon" class="icon">
          <span>Собственная кухня</span>
        </div>
        <div class="s-preview__adv-item">
          <img src="@img/preview-adv.svg" alt="icon" class="icon">
          <span>Можно с компанией</span>
        </div>
      </div>
    </div>
  </div>
</section>
