@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--primary);
  --color: black;
  --background-h: var(--secondary);
  --color-h: white;

  --radius: 13px;

  @include flex-center;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 14px 33px;
  background: none;
  width: fit-content;

  user-select: none;
  color: var(--color);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  transition: color 0.3s ease;

  z-index: 1;

  @include desktop {
    font-size: 16px;
  }
  @include tablet {
    font-size: 15px;
    padding: 12px 25px;
  }
  @include hover {
    color: var(--color-h);
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
  &::before {
    background:
      radial-gradient(
        circle at 0 100%,
        rgba(0, 0, 0, 0) 0px,
        var(--background) 0px
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(0, 0, 0, 0) var(--radius),
        var(--background) 10px
      ),
      radial-gradient(
        circle at 100%,
        rgba(0, 0, 0, 0) 0px,
        var(--background) 0px
      ),
      radial-gradient(
        circle at 0 0,
        rgba(0, 0, 0, 0) var(--radius),
        var(--background) 10px
      );
    background-position:
      bottom left,
      bottom right,
      top right,
      top left;
    background-size: calc(100% - 15px) 70%;
    background-repeat: no-repeat;
  }
  &::after {
    opacity: 0;
    background:
      radial-gradient(
        circle at 0 100%,
        rgba(0, 0, 0, 0) 0px,
        var(--background-h) 0px
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(0, 0, 0, 0) var(--radius),
        var(--background-h) 10px
      ),
      radial-gradient(
        circle at 100%,
        rgba(0, 0, 0, 0) 0px,
        var(--background-h) 0px
      ),
      radial-gradient(
        circle at 0 0,
        rgba(0, 0, 0, 0) var(--radius),
        var(--background-h) 10px
      );
    background-position:
      bottom left,
      bottom right,
      top right,
      top left;
    background-size: calc(100% - 15px) 70%;
    background-repeat: no-repeat;
  }
}

.btn-m {
  --background: rgba(0, 0, 0, 0.5);
  --border: rgba(255, 255, 255, 0.4);
  --color: white;
  --background-h: black;
  --border-h: white;
  --color-h: white;

  @include flex-center;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 13px 33px;
  background-color: var(--background);
  border: 1px solid var(--border);
  width: fit-content;

  user-select: none;
  color: var(--color);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    border-color: var(--border-h);
    color: var(--color-h);
    background-color: var(--background-h);
  }
  @include desktop {
    font-size: 16px;
  }
  @include tablet {
    font-size: 15px;
    padding: 10px 15px;
  }

  &._stroke-primary {
    --background: rgba(0, 0, 0, 0.5);
    --border: var(--primary);
    --color: var(--primary);
    --background-h: black;
    --border-h: white;
    --color-h: white;
  }
}

.btn-play {
  @include flex-center;

  --background: rgba(0, 0, 0, 0.25);
  --border: var(--primary);
  --color: var(--primary);
  --background-h: var(--primary);
  --border-h: var(--primary);
  --color-h: white;

  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);
  backdrop-filter: blur(5px);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include laptop-min {
    width: 95px;
    height: 95px;
  }
  @include tablet {
    width: 80px;
    height: 80px;
  }

  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }

  svg {
    width: 50px;
    height: 50px;

    @include laptop-min {
      width: 35px;
      height: 35px;
    }
    @include tablet {
      width: 32px;
      height: 32px;
    }
  }
}

.simple-btn {
  --border: var(--ecru);
  --background: var(--ecru);
  --color: black;
  --border-h: var(--secondary);
  --background-h: var(--secondary);
  --color-h: var(--primary);

  @include flex-center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 12px;
  width: fit-content !important;
  cursor: pointer;
  gap: 10px;
  box-sizing: border-box;

  color: var(--color);
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include tablet-min {
    font-size: 14px;
    gap: 8px;
    padding: 10px 8px;
  }

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);

    svg {
      opacity: 1;
    }
  }

  &._ap {
    --border-h: var(--primary);
    --background-h: var(--primary);
    --color-h: var(--secondary);
  }
  &._active {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);

    svg {
      opacity: 1;
    }
  }

  svg {
    display: block;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
