@use "../base/templates" as *;
@use "../base/media" as *;

.corner {
  position: absolute;
  width: 120px;
  aspect-ratio: 1/1;
  z-index: 1;

  @media (max-width: 1780px) {
    width: 90px;
  }
  @include desktop-big {
    width: 60px;
  }
  @include laptop-min {
    width: 40px;
  }

  &._bl {
    left: 0;
    bottom: 0;
    background: url("@img/corner-bl-white.svg") bottom 0 left 0 / 100% auto
      no-repeat;
  }
  &._br {
    right: 0;
    bottom: 0;
    background: url("@img/corner-br-white.svg") bottom 0 left 0 / 100% auto
      no-repeat;
  }
}