@use '../base/templates' as *;
@use '../base/media' as *;

.gallery-slider {
  .swiper-slide {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/0.62;
    border-radius: 5px;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      transition: transform .3s linear;
    }
  }
}